first-make-timestamp
lightwalletd
server.log
db/
coverage.out
test-log
lwd-api.html
*.orig
__debug_bin
.vscode
CMakeCache.txt
Makefile
.idea
cert.*
*.conf
*.cmake
*.log
*.a
parser/verushash/CMakeFiles
CMakeCache.txt
cmake_install.cmake
vendor
